<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  <title></title>
</head>
<body>
  <div id='cssmenu'>
    <ul>
      <li><a href='/'><span>Home</span></a></li>
      <li><a href='/urls/new'><span>Add a URL</span></a></li>
      <li><a href='#'><span>Login</span></a></li>
      <li><a href='#'><span>Register</span></a></li>
      <li class='last'><a href='#'><span>About</span></a></li>
    </ul>

  </div>
</body>
</html>