<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home Page</title>

  <!-- External Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">

</head>
<body>
  <% include partials/_header %>

<%  function showSites(array) { %>
<%    for (var i=0; i<array.length; i++) { %>
<%=      console.log(array[i]) %>
<%    } %>
<% } %>

<%= showSites(sitesArrObj); %>

<ul>
  <% sitesArrObj.forEach((item) => { %>
    <li><%= item %></li>
  <% }); %>
</ul>
</body>
</html>