<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="styles/navbar.css">
</head>
<body>
  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='#'><span>Home</span></a></li>
      <li><a href='#'><span>Login</span></a></li>
      <li><a href='#'><span>Register</span></a></li>
      <li class='last'><a href='#'><span>About</span></a></li>
    </ul>
    <button type="button" id="buttton">clicky</button>
  </div>
</body>
</html>