<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home Page</title>

  <!-- External Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">

</head>
<body>
  <% include partials/_header %>

  <%  function showSites(array) { %>
  <br>
    <ul id="unorderedList">
      <% array.forEach((item) => { %>
        <a target="_blank" href="<%= item %>">
          <li id="listItem"><%= item %></li>
        </a>
        <br>
        <!-- <button>Delete URL <img src="https://image.flaticon.com/icons/svg/0/39.svg" width="20" height="22"></button> -->
      <% }); %>
    </ul>
  <% } %>

  <%= showSites(sitesArrObj); %>
</body>
</html>