body {
  background-color: beige;
}
h1 {
  color: blue;
}
button {

}
#listItem {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 2px solid #ccc;
  background: #cce5ff;
}

#unorderedList {
  list-style-type: circle;
  color: black;
}
